
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Questrial&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(24, 37, 22);
    min-height: 100vh;
    font-family: 'Kanit', sans-serif;
}

#container{
    background-color: rgb(24, 37, 22);
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

p{
    color: rgb(24, 37, 22);
}

h1{
    color: rgb(61, 146, 15);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5%;
  }

label{
   color: rgb(61, 146, 15); 
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
}

input{
    margin: 1.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao{
    padding: 3%;
    background-color: rgb(61, 146, 15);
    font-family: 'Kanit', sans-serif;
    display: flex;
    margin-left: 32%;
}

select{
    margin-left: 20%;
}